<app-header></app-header>


<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2>Profile </h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Employee Id:</strong> {{ employee?.employeeId }}
          </li>
          <li class="list-group-item">
            <strong>Name:</strong> {{ employee?.name }}
          </li>
          <li class="list-group-item">
            <strong>Email Address:</strong> {{ employee?.emailAddress }}
          </li>
          <li class="list-group-item">
            <strong>Phone Number:</strong> {{ employee?.phoneNumber }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
