* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    background-size: cover;
    background-position: center;
    color: #9a8989;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-section {
    padding: 80px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.hero-section:hover {
    color: #2a2a2a;
}


.hero-section h1{
    font-family:fantasy

}
.hero-section h2{
    font-size: large;
}



