/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';

.bg_background{
    /* background-image: url("./assets/background.jpg");
    background-size:cover; */
    /* background-color: #e9d8e4; */
    /* background-color: ; */





    
        width: 100%;
        height: 100vh;
        background: url('./assets/background.jpg') no-repeat;
        background-size: cover;
        text-align: center;
     
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
