h2 {
  font-size: 24px;
  color: #2a2a2a;
  text-align: center;
  margin-top: 25px;

}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}